extends layout

block content
  label Status: {{ socket.connected ? 'Conectado' : 'Desconectado' }}
  div#cssmenu(ng-controller='MenuCtrl')
    ul
      li(ng-class="{active: active('/')}")
        a(href='#/') Início
      li(ng-class="{active: active('/start')}")
        a(href='#/start') Configurações   
  div.wrapper
    div(ng-view)
