extends layout

block content
  div#cssmenu(ng-controller='MenuCtrl')
    ul
      li(ng-class="{active: active('/')}")
        a(href='#/') Home
      li(ng-class="{active: active('/start')}")
        a(href='#/start') Settings
  label.right Status: {{ socket.connected ? 'Connected' : 'Disconnected' }}
  div.wrapper
    div(ng-view)
