extends layout

block content
  div#cssmenu(ng-controller='MenuCtrl')
    ul
      li(ng-class="{active: active('/')}")
        a(href='#/') Home
      li(ng-class="{active: active('/start')}")
        a(href='#/start') Settings
  span.label.label-default.right Status: {{ status }}
  div.wrapper
    div(ng-view)
