div.container
  div.section
    div.row
      div.col.s12.m4
        p(ng-repeat="device in devices")
          input.filled-in(type='checkbox', ng-model='device.state' ng-change='change(device)')
          label(for='') {{ device.name }}
    div.row
      div.col.s12.m4
        button.waves-effect.waves-light.btn(ng-click='refresh()') Refresh
    div.row
      div.col.s12.m4
        small RETORNO: {{ retorno }}