div.container  
  div.section
    a.right.btn-flat(ng-click='showCreateModal()') Create Device
    div.row
      div.col.s12        
        table
          thead
            tr
              th Area
              th Name
              th MAC
              th Type
              th Public URL
              th Internal URL              
              tr
          tbody
            tr(ng-repeat='device in devices')
              td {{device.area.name}}
              td {{device.name}}
              td {{device.mac}}
              td {{device.type}}
              td {{device.public_ip}}:{{device.public_port}}
              td {{device.internal_ip}}:{{device.internal_port}}              
              td
                a.btn-flat(ng-click='delete(device)')
                  i.material-icons.left delete
                a.btn-flat(ng-click='showEditPins(device)')
                  i.material-icons.left edit

div#create.modal
  div.modal-content
    h4 New Device
    form.col.s12
      div.row
        div.input-field.col.s4
          select(ng-model='device.area')
            option.disabled.selected(value='') Choose an Area
            option(value='{{area}}', ng-repeat='area in areas') {{area.name}}
          label Area
        div.input-field.col.s3
          input#stat(name='type', type='radio', value="S", ng-model='device.type')   
          label(for='stat') State
        div.input-field.col.s3
          input#temp(name='type', type='radio', value="T", ng-model='device.type')   
          label(for='temp') Temperature/Humidity
      div.row
        div.input-field.col.s8           
          input#name.validate(type='text', placeholder='Name', ng-model='device.name')
          label(for='name') Name   
        div.input-field.col.s4
          input#mac.validate(type='text', placeholder'MAC Address', ng-model='device.mac')
          label(for='mac') MAC   
      div.row
        div.input-field.col.s8            
          input#public_ip.validate(type='text', placeholder='Public IP', ng-model='device.public_ip')
          label(for='public_ip') Public IP
        div.input-field.col.s4            
          input#public_port.validate(type='text', placeholder='Public Port', ng-model='device.public_port')
          label(for='public_port') Public Port
      div.row
        div.input-field.col.s8           
          input#internal_ip.validate(type='text', placeholder='Internal IP', ng-model='device.internal_ip')
          label(for='internal_ip') Internal IP
        div.input-field.col.s4            
          input#internal_port.validate(type='text', placeholder='Internal Port', ng-model='device.internal_port')
          label(for='internal_port') Internal Port  
      div.row
        div.col.s12
          button.waves-effect.waves-light.btn.right(type='button', ng-click='save()') Save

div#editpins.modal
  div.modal-content
    h4 Pins of Device
    a.right.btn-flat(ng-click='showCreatePinModal()') Create Pin
    div.row
      div.col.s12        
        table
          thead
            tr
              th Name
              tr
          tbody
            tr(ng-repeat='pin in pins')
              td {{pin.name}}
              td
                a.btn-flat(ng-click='deletePin(pin)')
                  i.material-icons.left delete

div#createpin.modal
  div.modal-content
    h4 New Pin
    form.col.s12
      div.row
        div.input-field.col.s8           
          input#name.validate(type='text', placeholder='Name', ng-model='pin.name')
          label(for='name') Name
      div.row
        div.col.s12
          button.waves-effect.waves-light.btn.right(type='button', ng-click='savePin()') Save